.main {
    background-color: #000001;
    padding: 10rem 0;
}


.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.about__content p{
    color: #fff;
    display: grid;    
    width: 100%;
}

.about__content h1 {
    font-size: 2.5rem;
    background-image: var(--my_gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;    
    margin-bottom: 32px;
}

.about__content h2 {
    font-size: 4rem;
    background: var(--mellow);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            var(--blue),
            var(--light_blue));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            var(--blue),
            var(--light_blue));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
}



.container_uiuc {
    align-items: center;
    justify-content: center;
    word-break: break-all;
    flex-direction: column;

    
}

.uiuc-bloc-tabs {
    display: flex;
}

.uiuc-tabs {
    padding: 10px;
    text-align: center;
    width: 50%;
    background: #13294B;    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    color: white;
    font-size: x-large;

}

.uiuc_content_tabs {
    display: flex;
}

.active-tabs {
    content: "";
    display: "contents";
    background: #13294B;
    color: white;
    /* background: rgb(88, 147, 241); */
    text-align: center;
    border-bottom: 10px solid var(--light_blue);

}

.uiuc_content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.uiuc_content li {
    font-size: 16px;
    font-weight: 100;   
    margin: 0%;

}

.uiuc_content p{
    color: black;
    font-size: 16px;
    font-weight: 100;
    margin: 0%;
}

.uiuc_content p  {
    color: black;
    font-size: 16px;
    font-weight: 100;
    margin: 0%;
}

.main__btn {
    font-size: 1.8rem;
    background: #1deef1;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #1deefd, #281bba);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.active-content {
    display: flex;
}
.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

.about__img--card{
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
            
}


.fa-layer-group,
.fa-users {
    font-size: 14rem;
}

#card-2 {
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #1deef1,
            #1deef2);
    background: linear-gradient(to right, #1deef1,
            #1deef2);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
    margin: 10px;
}

    .about__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .about__content h2 {
        font-size: 3rem;
    }

    .about__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    
    .container_uiuc li {
        font-size: 16px;
        font-weight: 100;
        margin: 0%;
    }

    .container_uiuc p {
        color: black;
        font-size: 16px;
        font-weight: 100;
        margin: 0%;
    }
}

@media screen and (max-width: 480px) {
    .main__img--card {
        width: 250px;
        height: 250px;
    }

    .fa-users,
    .fa-layer-group {
        font-size: 4rem;
    }

    .about__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .about__content h2 {
        font-size: 2rem;
    }

    .about__content p {
        margin-top: 2rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    .uiuc_content li {
        font-size: 16px;
        font-weight: 100;
        margin: 0%;
    }

    .uiuc_content p {
        color: black;
        font-size: 16px;
        font-weight: 100;
        margin: 0%;
    }
}