.hero__btn {
  font-size: 1.8rem;
  background: #ffffff;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease-out;
  padding: 20px 60px;
  color: #ffffff;
}

.hero__btn a {
  position: relative;
text-decoration: auto;
}

.hero__btn:hover {
    background-image: var(--my_gradient);
    color: #ffffff;
}


.hero__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.1s ease-out;
}
`
.hero__btn:hover:after{
  width: 100%;
}