.projects {
    background: #000001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    /* padding-bottom: 10rem 0; */
}

.projects h1 {
    background-color: var(--light_blue);
    /* background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
}

.projects__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.projects__card {
    margin: 10px;
    height: 500px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, var(--light_blue) 0%, var(--dark-blue) 100%);
    transition: all 0.01s ease-in;
    border: .5rem solid var(--light_blue);
    text-align: center;
}

.projects__card h3 {
    display: center;
    flex-direction: row;
}

.projects__card p {
    text-align: center;
    padding: 5px;
}
.projects__card h2 {
    text-align: center;
}

.projects__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    /* cursor: pointer; */
}

@media screen and (max-width: 1300px) {
    .projects__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .projects__wrapper {
        grid-template-columns: 1fr;
    }
}