

.main {
    background-color: #000001;
    padding: 10rem 0;
}

.main__container {
    display: grid;
    grid-template-columns:auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 100px;
}

.contact_btn {

}
.
.main__content {
    /* justify-content: center;
    align-items: center; */
    display: inline-grid;
    text-align: center;
    
}

.contact__content h1 {
    font-size: 2rem;
    text-align: center;
    background-color: blacks;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 32px;
}
.main__content h2 {
    font-size: 4rem;
    background: var(--mellow);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            var(--blue),
            var(--light_blue));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            var(--blue),
            var(--light_blue));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.contact__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    justify-items: center;
    text-align:center;
}

.contact_btn {
    font-size: 1.8rem;
    background: linear-gradient(to right, #fcb045, #1deefd, #281bba);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
    color: white;
    width: -webkit-fill-available;
    margin: 10px;

}

.contact_btn span{
    color: linear-gradient(to right, #fcb045, #1deefd, #281bba);
}

.contact_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.contact_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-width: 10px;
    transition: all 0.35s;
    border-radius: 4px;
}

.contact_btn span {
    color: transparent;
}

.contact__img--container {
    text-align: center;

}

.main__img--card img{
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: #fff; */
    /* background-image: linear-gradient(to right, var(--light_blue) 0%, var(--blue) 100%); */
}

.shared-class{
    /* padding: 50px; */
    box-sizing: border-box;
    background-image: white;
    flex-direction: column;
    justify-content: center;
}

.socials{
    display: 'inline-block';
    position: 'relative' 
}


.swag {
    background-image: linear-gradient(to right, var(--blue) 0%, var(--blue) 100%);
}


.fa-layer-group,
.fa-users {
    font-size: 14rem;
}

#card-2 {
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #1deef1,
            #1deef2);
    background: linear-gradient(to right, #1deef1,
            #1deef2);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 425px;
        width: 425px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__img--card {
        width: 250px;
        height: 250px;
    }
    

    .fa-users,
    .fa-layer-group {
        font-size: 4rem;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
    }

    .contact_btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}