.projects {
    background: #000001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    /* padding-bottom: 10rem 0; */
}

.title {
    color: white;
    font-size: 5vw;
}
.projects h1 {
    /* background-color: var(--light_blue); */
    background-image: var(--my_gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
}




.front_card {
    margin: 10px;
    height: 500px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    border-image: var(--my_gradient);
    transition: all 0.01s ease-in;
    border: .5rem solid var(--light_blue);
    text-align: center;
    border-width: 3px;
        border-style: solid;
}

div.image::before {
    content: url(http://placehold.it/350x150);
}

​

.front_card h3 {
    display: center;
    flex-direction: row;
}

.front_card p {
    text-align: center;
    padding: 5px;
}
.front_card h2 {
    text-align: center;
}



@media screen and (max-width: 1300px) {
    .projects__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .projects__wrapper {
        grid-template-columns: 1fr;
    }
}