.website__rights, .footer__link--items {
    margin-bottom: 2rem;
}

.footer__link--wrapper, .social__media--wrap {
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}